/* import fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");

/* setting variables */
:root {
  --text: #fff;
  --hover: #78cc6d;
  --span-txt: #000000;
  --prfl-bg: #19101063;
  --main-bg: #2b2b2b;
  --ftr-bg: #00000023;
  --shadow: #78cc6d47;
  --input-tags: #3f3f3f;
  --diff-clr: #ff6600;
}

* {
  margin: 0;
  padding: 0;
}
/* set font size 1em = 10px */
html {
  font-size: 62.5%;
}
body {
  background: url(Assets/bg_img.png);
  background-repeat: repeat;
  background-size: cover;
  font-family: poppins;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: auto;
  grid-template-areas:
    "header nav"
    "main main"
    "footer footer";
}
/* header */
header {
  color: var(--text);
  grid-area: header;
}
header h1 {
  font-size: 3em;
  font-weight: 600;
  padding: 1.6em 0 0 3.5em;
}
/* for nav responsive */
#clicked .off {
  display: none;
}
/* nav bar */
nav {
  grid-area: nav;
}
.nav-bar {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
.nav-bar li {
  padding: 5.5em 0 0 0;
}
.nav-bar li a {
  font-size: 2.2em;
  font-weight: 500;
  color: var(--text);
  text-decoration: none;
  transition: color 0.2s ease-in;
}
.nav-bar li a:hover {
  text-decoration: underline;
  color: var(--hover);
}
/* main */
main {
  grid-area: main;
  min-height: 100vh;
  margin: 5em 0 0 0;
}
/* //////////////////// */
/* ////// Index main //// */
/* ///////////////////// */
.profile-cntnr {
  color: var(--text);
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-areas: "profile info";
  gap: 2em;
}
/* Left Container */
.profile-pic {
  height: 50em;
  width: 40em;
  padding: 3em 0 0 10.5em;
  grid-area: profile;
}
.profile-pic img {
  width: 25em;
  height: 30em;
  border-radius: 2em 0 2em 2em;
}
.profile-pic-content {
  background-color: var(--prfl-bg);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 60em;
  padding-left: 7em;
  border: 1px solid var(--prfl-bg);
  border-radius: 2em 0 0 2em;
}
#pic_tagline {
  font-weight: 300;
  color: var(--hover);
}
#profilr_name {
  font-size: 2.7em;
}
.contact-icons {
  display: flex;
  justify-content: space-between;
  font-size: 2.2em;
  width: 11em;
}
.contact-icons a {
  color: var(--text);
}
.contact-icons a:hover {
  color: var(--hover);
  transition: color 0.2s ease-in;
}
.extras {
  display: flex;
  justify-content: space-between;
  font-size: 2em;
  font-weight: 600;
  width: 12.2em;
}
.extras a {
  text-decoration: none;
  color: var(--text);
}
.extras a:hover {
  color: var(--hover);
  transition: color 0.2s ease-in;
  text-decoration: underline;
}
/* right container */
.personal-info {
  grid-area: info;
  height: 60.1em;
  width: 60em;
  padding: 3em 0 0 5em;
}

.personal-content {
  background-color: var(--main-bg);
  height: 59em;
  width: 80em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1em 3.2em 0 3.2em;
  border: 1px solid var(--main-bg);
  border-radius: 0 2em 2em 0;
}
.reddish_clr {
  color: var(--diff-clr);
}
.greenish_clr {
  color: var(--hover);
}
.free-time {
  font-size: 2em;
  display: flex;
}
.free-time span {
  color: var(--hover);
}
.pfle-hdng {
  font-size: 3em;
  font-weight: 600;
}
.pfle-hdng span {
  display: inline-block;
  background-color: var(--hover);
  color: var(--span-txt);
  border: 1px solid var(--hover);
  box-sizing: border-box;
  border-radius: 3em;
  padding: 0.2em;
  animation: span_moving infinite 2s ease-in-out;
}
/* Animations */
@keyframes span_moving {
  0% {
    transform: rotate(-3.5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-3.5deg);
  }
}
.pfle-tag-line {
  font-size: 1.5em;
  margin-bottom: 3em;
}

.prsnl-details {
  font-size: 1.6em;
  margin-bottom: 3em;
}

.achievements {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
}
/* ///////////////////////*/
/* ///// Project Section //// */
/* ////////////////////////// */
.project-cntr {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
  width: 120em;
  padding: 7em 10em 0 15em;
  justify-content: space-around;
}
.project-cntr-content {
  background-color: var(--main-bg);
  color: var(--text);
  display: flex;
  flex-direction: column;
  gap: 1em;
  border-radius: 0 0 2em 2em;
  margin-top: 14.5em;
  padding: 1em;
}
.project-cntr-content hr {
  opacity: 0.1;
}
.project-div-align {
  width: 35em;
  height: 33em;
  border-radius: 2em;
  transition: ease-in all 1s;
  box-shadow: 0.5em 0.5em 0.5em var(--shadow);
}
.project-cntr-content a {
  color: var(--text);
  text-decoration: none;
  font-size: 1.2em;
  width: 7em;
  margin-top: 1em;
  background-color: var(--hover);
  border-radius: 2em;
  padding: 0.5em 0.5em 0.5em 1.5em;
  transition: ease-in all 0.3s;
}
.project-cntr-content a:hover {
  background-color: var(--span-txt);
  transform: translate(0.4em, 0.4em);
}
.project-cntr-content h3 {
  font-weight: 500;
  font-size: 1.6em;
  margin-top: 0.6em;
}
.spotify-project {
  background: url(Assets/spotify.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.CSS-login-page-project {
  background: url(Assets/contact-form.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.portfolio-copy-project {
  background: url(Assets/animated-portfolio.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.IT-kol-project {
  background: url(Assets/It-kol-site.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.placeholder-project {
  background: url(Assets/Inspiration-photo.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.project-cntr-content img {
  width: 25em;
  height: 20em;
}
/* /////////////////////////////// */
/* //////// Contact Section ////// */
/* /////////////////////////////// */
.contact-page {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 60em;
  width: 120em;
  padding: 7em 0 0 15em;
}
/* Left Container */
.contact-container-1 {
  background-color: var(--prfl-bg);
  padding: 5em 0 0 17em;
  border-radius: 2em 0 0 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.avatar-images img {
  background-color: var(--prfl-bg);
  position: absolute;
  margin: 0 0 0 4em;
  width: 20em;
  height: 20em;
  object-fit: cover;
  opacity: 0;
  border: 1px solid var(--shadow);
  border-radius: 100%;
  animation: moving-the-images infinite 9s ease-in-out;
}
.avatar-images img:nth-child(1) {
  animation-delay: 0s;
}
.avatar-images img:nth-child(2) {
  animation-delay: 3s;
}
.avatar-images img:nth-child(3) {
  animation-delay: 6s;
}
@keyframes moving-the-images {
  0% {
    opacity: 0;
    z-index: 1;
  }
  33% {
    opacity: 1;
    z-index: 2;
  }
  66% {
    opacity: 0;
    z-index: 3;
  }
  100% {
    opacity: 0;
    z-index: 1;
  }
}
.contact-heading {
  margin: 25em 0 0 0;
}
.contact-heading h1 {
  color: var(--text);
  font-size: 4em;
  font-weight: 500;
}
.contact-heading p {
  font-size: 1.5em;
  color: var(--hover);
  margin-top: 0.5em;
}
#contact-page-icons {
  margin: 2.5em 0 0 1.5em;
}
/* Right Container */
.contact-container-2 {
  background-color: var(--main-bg);
  padding: 5em 0 0 10em;
  border-radius: 0 2em 2em 0;
}
.contact-container-2 h1 {
  font-size: 3em;
  font-weight: 500;
  text-align: center;
  padding: 0 3em 0 0;
  color: var(--text);
  margin-bottom: 2em;
}
.form {
  font-family: poppins, sans-serif, serif;
  display: none;
  flex-direction: column;
}
.form input {
  width: 30.5em;
  height: 3em;
  background-color: var(--main-bg);
  margin-top: 2em;
  border: 1px solid var(--input-tags);
  border-radius: 0.5em;
  color: var(--text);
  padding-left: 0.5em;
}
.form input:hover {
  border: 1px solid var(--hover);
}
.form input:focus {
  outline: none !important;
  color: var(--hover);
}
#message-box {
  background-color: var(--main-bg);
  width: 30em;
  height: 10em;
  resize: none;
  color: var(--text);
  border: 1px solid var(--input-tags);
  border-radius: 0.5em;
  padding: 0.5em;
  margin-top: 1em;
}
#message-box:hover {
  border: 1px solid var(--hover);
}
#message-box:focus {
  outline: none !important;
  color: var(--hover);
}
.contact-form-btn {
  background-color: var(--hover);
  color: var(--text);
  width: 10em;
  height: 2.5em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid var(--hover);
  border-radius: 2em;
  margin: 3em 0 0 10em;
  transition: all 0.5s ease-in-out;
}
.contact-form-btn:hover {
  background-color: var(--span-txt);
  border: solid var(--span-txt);
  cursor: pointer;
  transform: translate(0, -0.2em);
  box-shadow: 0.1em 0.1em 0.1em var(--shadow);
}

/* Footer */
footer {
  background-color: var(--ftr-bg);
  color: var(--text);
  margin-top: 6em;
  padding: 0.5em 3em 0.5em 3em;
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
}
.social-links {
  display: flex;
  flex-direction: column;
  gap: 5em;
  width: fit-content;
  height: 20em;
  margin-top: 1em;
}
.dev_text{
  font-size: .8em;
  margin-right: 2em;
}
.social-links a {
  display: flex;
  align-items: center;
  font-size: 3em;
  gap: 2em;
  color: var(--text);
  text-decoration: none;
}

.social-links a:hover {
  color: var(--hover);
  transition: color 0.2s ease-in;
}
